name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Deno Setup
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.3
      - name: Run Tests
        run: deno test

  publish-jsr:
    needs: [test]

    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Deno Setup
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.3
      - name: Publish to JSR
        run: deno publish

  publish-npm:
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Extract version from tag
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Build npm package
        run: deno run -A scripts/build_npm.ts ${{ steps.version.outputs.VERSION }}

      - name: Publish to npm
        run: |
          cd npm
          npm publish --provenance --access public
